
.product {
    width: 1348px;
    height: 834px;
    top: 123px;
    left: 52px;

}

.product h3 {
    width: 169.5px;
    height: 22px;
    top: 123px;
    left: 83.24px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
}


  